#svg1{
    position: absolute;
    z-index: 1;
    top: 10vh;
    left: 10vw;
}
#svg2{
    position: absolute;
    z-index: 1;
    top: 30vh;
    left: 90vw;
}
#svg3{
    position: absolute;
    z-index: 1;
    top: 20vh;
    left: 60vw;
}

#svg5{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}
#svg6{
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
}

@media screen and (max-width=700px) {
    .text_background{
        position: absolute;
        top: 100px;
        left: 100px;
    }
}
